<div class="row">
  <div class="col col-md-12">
      <div class="form-group">
          <button class="btn btn-primary" (click)="generate()">Generate</button>
      </div>

      <div class="form-group">
        <div class="input-group">
            <input type="text" id="resultTextBox" class="form-control" readonly value="{{generatedGuid}}" placeholder="xxxxxxxx-xxxx-xxxx-xxxxxxxxxxxx"/>
            <span class="input-group-btn">
              <button class="btn btn-secondary copy-clipboard" ngxClipboard [cbContent]="generatedGuid" (cbOnSuccess)="onSucceed()" [disabled]="!generatedGuid">Copy</button>
            </span>
        </div>
          
      </div>
  </div>
</div>



